* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hide {
    z-index: -1;
}

#canvas, #tempCanvas, #canvasBackground {
    position: absolute;
   
}

#canvas {background: #fff;}

.canvas {
    border: solid rgb(4, 87, 170);
    position: absolute;
    overflow: hidden;
    height: 80%;
    width: 85%;
    background: rgb(255, 255, 255);
}

header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    height: 4rem;
}


.display {
    z-index: 1000;
}

.App {
    position: relative;
    height: 95vh;
    width: 97vw;
    background:rgba(90, 142, 238, 0.363);
    padding: 1rem;
    border: solid rgb(25, 50, 97);
    min-height: 500px;
}

.icon {
    height: 70%;
    width: 70%;
}

select {
    text-align: center;
    font-size: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.button {
    float: left;
    clear:left;
    width: 5rem;
    height: 5rem;

    background-color: DodgerBlue;
    border: none;
    color: white;
    margin: 2px; 
    padding: auto;
    align-content: center;
}

.button:active {
    background-color: rgb(0, 109, 218);
}

#fill {
    float:left;
    clear:right;
    margin-left: 1rem;
    margin-top: 1rem;
}

label {
    float:left;
    clear: left;
    align-items: center;
    font-size: 1.5rem;
    font-family: inherit;
    margin-top: 1rem;
}


.functions,
.settings {
    float: right;
    clear: right;
    width: 10%;
}

@media only screen and (max-width: 850px) {
    .button {
        width: 3rem;
        height: 3rem;
    }

    #fill {
        margin-left: 2px;
        margin-top: 2px;
    }
    
    label {
        font-size: 1rem;
        margin-top: 2px;
    }
    .App{
        padding: 5px;
    }
}


@media only screen and (max-width: 600px) {
    .canvas {
        height: 80%;
        width: 85%;
    }
}

@media only screen and (max-width: 500px) {
    .App {
        padding: 3px
    }
}